body{
 margin: 20px;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.media{
    width: 150px;
}
.card{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 400px;
    background: #edc0ff;
    color: #2b2839;
    border-bottom: 10px solid#cbc6e2;
    margin: 0 auto;

}
.details{
    margin-left: 20px;
    text-align: center;
}